<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800335101809-bi862fp4japd4ntbjvjanaa8at4d75in.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800335101809-bi862fp4japd4ntbjvjanaa8at4d75in</string>
	<key>API_KEY</key>
	<string>AIzaSyAGCsNsWFoqMAF0F2cn7c1lCl9VUTcTdd8</string>
	<key>GCM_SENDER_ID</key>
	<string>800335101809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.Chemistree</string>
	<key>PROJECT_ID</key>
	<string>chemistree-17afa</string>
	<key>STORAGE_BUCKET</key>
	<string>chemistree-17afa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800335101809:ios:ff491d49718481397f80d0</string>
</dict>
</plist>